* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #daebf36d;
}




.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Primary-Color {
    color: #4E47FF;
}

.bg-primary {
    background-color: #4E47FF;
}


.btn-class {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
}



.header-section {
     background: url("images/Hero-bg.png");
    height:500px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 90px;
}

.logo ,.nav-button {
    margin-top: 35px;
}

.nav-section h1 {
    font-size: 30px;
    font-weight: 900;
}

.banner-section {
    height: 350px;
    text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner-items {
    padding: 140px;
}
.banner-items h2 {
    font-size: 65px;
    font-weight: bold;
}

.banner-items button {
    margin-top: 20px;
}